{% extends "base.twig" %}

{% block body %}
<h1 class="text-3xl font-bold underline">DGPT - A less cleaver gpt</h1>

<button onclick="send()">send</button>

<div id="chat"></div>

<script>
    const url = new URL('https://localhost/.well-known/mercure');
    url.searchParams.append('topic', 'chat');
    const es = new EventSource(url);
    es.onmessage = (e) => document.getElementById('chat').innerHTML += e.data;

    const send = () => {
        fetch("https://localhost/c");
    }
</script>
{% endblock %}