{% extends "base.twig" %}

{% block body %}
<div id="chat" class="flex flex-col flex-grow">
    <div id="conversation" class="space-y-2 overflow-y-auto h-5/6">
        <div class="bg-slate-700/15 rounded p-3 ">
            Ola sou o DGPT!
        </div>
    </div>
    <div class="px-2 h-1/6 flex items-center">
        <div class="w-full flex gap-2 self-center">
            <button 
                id="send-question"
                class="hidden"
                hx-post="/api/chat"
                hx-trigger="click"
                hx-params="question,model"
                hx-include="[name='question'],[name='model']"
            >submit</button>
            <button id="add-conversation-template" 
                class="hidden" 
                hx-get="/conversation"
                hx-target="#conversation"
                hx-swap="beforeend"
                hx-trigger="click"
                hx-params="question"
                hx-include="[name='question']"
            >add template</button>
            <input type="hidden" name="model" id="model" />
            <textarea name="question" id="question" class="w-full rounded-lg p-2" placeholder="Send a message"></textarea>
            <button
                id="submit-question"
                onclick="clickForm()"
                class="bg-green-500 hover:bg-green-600 self-center text-white items-center rounded p-2"
            >Send</button>
        </div>
    </div>
</div>

<script>
    const clickForm = (el) => {
        const question = document.getElementById('question')
        if (!question.value) {
            alert('Please enter a question');
            return;
        }
        const model = document.querySelector('input[type="radio"]:checked').value;
        document.getElementById('model').value = model;

        const addConversationTemplate = document.querySelector('#add-conversation-template');
        const sendQuestion = document.querySelector('#send-question');

        addConversationTemplate.click();
        sendQuestion.click();

        question.value = ''
    }

    document.addEventListener('htmx:beforeRequest', (el) => {
        if (el.detail.pathInfo.requestPath === "/api/chat") {
            document.getElementById('submit-question').classList.add('hidden');
        }
    });
    document.addEventListener('htmx:afterRequest', (el) => {
        if (el.detail.pathInfo.requestPath === "/api/chat") {
            document.getElementById('submit-question').classList.remove('hidden');
        }
    });

    const url = new URL('https://localhost/.well-known/mercure');
    url.searchParams.append('topic', 'chat');
    const es = new EventSource(url);

    es.onmessage = (e) => {
        const lastDiv = document.querySelector('#conversation > div:last-of-type');
        lastDiv.innerHTML += e.data;
        lastDiv.scrollIntoView({ behavior: 'smooth', block: 'nearest', inline: 'start' });
    }
</script>
{% endblock %}